<!DOCTYPE html>

<html>
<head>
    <title> Placeholder </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portrait.css')}}"/>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>

<body>
    <!-- HTML5 article tag for content -->
    <div id="content">

   <!-- Navigation buttons -->
   <nav id="main_nav">
      <ul>
         <!-- LI stands for list item -->
         <li><a href="games.html">Games </a></li>
         <li><a href="settings.html">Settings </a></li>
         <li><a href="help.html">Help</a></li>
      </ul>
   </nav>

   <footer></footer>
    </div>
</body>
</html>