<!DOCTYPE html>

<html>
<head>
    <title> 20 Questions </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portrait.css')}}"/>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>

<body>
    <button class="main-menu-button" onclick="promptMainMenu()">Main Menu</button>
    <h2 style="background-color: rgba(0,0,0,0.8); text-align: center;">{{ question }}</h2>
<ul>
    <form action="#" method="post" id ="answer-form">
        <p><input type="hidden" name = "userAnswer" id = "userAnswer" value = ""></p>
        <button class="game-button" onclick="setValue('y')" name="submit_button">Yes</button>
        <button class="game-button" onclick="setValue('n')" name="submit_button">No</button>
        {% if showAllButtons %}
        <button class="game-button" onclick="setValue('idk')" name="submit_button">Unknown</button>
        <button class="game-button" onclick="setValue('probably')" name="submit_button">Probably</button>
        <button class="game-button" onclick="setValue('probably not')" name="submit_button">Probably Not</button>
        {% else %}
            {% if not hidePicture %}
                <img src = {{ picture }} style="max-width: 95%; display: block; margin:auto;">
            {% endif %}
        {% endif %}
    </form>
    <script>
        //Send a value to the server
        function setValue(value)
        {
            document.getElementById("userAnswer").value = value;
        }
        
        //Confirm if user wants to go to main menu
        function promptMainMenu()
        {
            if(confirm("Are you sure? Progress will not be saved")==true)
            {
                window.open('/',"_self");
            }
        }
    </script>
  </ul>
</body>
</html>